.GameStats {
    position: absolute;
    width: 22vw;
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
}


.GameStats__left {
    right: 0;
    top: 22vh;
    text-align: left;
}

.GameStats__right {
    right: 0;
    top: 10vh;
    left: 65vw;
    text-align: left;
}


.GameStats .value {
    font-size: 2.8rem;
    margin-bottom: 0.5em;
    color: rgb(238, 255, 0);
}